<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SICPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/enterprise" routerLinkActive="active" ariaCurrentWhenActive="page">Enterprise</a>
        <a routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page">Employee</a>
        <a routerLink="/department" routerLinkActive="active" ariaCurrentWhenActive="page">Department</a>
        <a routerLink="/department-employee" routerLinkActive="active" ariaCurrentWhenActive="page">Department/Employee</a>
          </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

